{% extends 'base.html'%}

{% block title %}Account Settpassword{% endblock%}

{% block content %}
<div class="account_body">
    <div class="account_container">
        <div class="account_title">Account Settings</div>
        <div class="account_content">
            <form action="{{ url_for('auth.update_account') }}" method="POST">
                <div class="account_user-details">
                    <div class="account_input-box">
                        <span class="account_details">First Name</span>
                        <input type="text" name="firstname" placeholder="Last name" value="{{ firstname }}" disabled>
                    </div>
                    <div class="account_input-box">
                        <span class="account_details">Last Name</span>
                        <input type="text" name="lastname" placeholder="Last Name" value="{{ lastname }}" disabled>
                    </div>
                    <div class="account_input-box">
                        <span class="account_details">Username</span>
                        <input type="text" name="username" placeholder="Username" value="{{ user.username }}" required>
                    </div>
                    <div class="account_input-box">
                        <span class="account_details">Email</span>
                        <input type="text" name="email" placeholder="Email" value="{{ user.email }}" required>
                    </div>
                    <div class="account_input-box">
                        <span class="account_details">Old Password</span>
                        <input type="password" name="old_password" placeholder="Old Password" required>
                    </div>
                    <div class="account_input-box">
                        <span class="account_details">New Password</span>
                        <input type="password" name="new_password" placeholder="New Password">
                    </div>
                    <div class="account_input-box">
                        <span class="account_details">Confirm Password</span>
                        <input type="password" name="confirm_password" placeholder="Confirm New password">
                    </div>
                </div>

                <div class="account_button">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock%}