<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>base_html</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
    <div class="wrapper">
        <nav>
            <input type="checkbox" id="show-search">
            <input type="checkbox" id="show-menu">
            <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
            <div class="content">
                <div class="logo"><a href="#"><i class="fas fa-graduation-cap"></i></a></div>
                <div class="logo"><a href="#">E-Learning</a></div>

                <ul class="links">
                    <li><a href="#">Home</a></li>
                    <li>
                        <a href="#" class="desktop-link">Categories</a>
                        <input type="checkbox" id="show-features">
                        <label for="show-features">Categories</label>
                        <ul>
                            <li><a href="#">Machine Learning</a></li>
                            <li><a href="#">Neural Networks</a></li>
                            <li><a href="#">Artificial Intelligence</a></li>
                            <li><a href="#">Cryptography</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/signup">Signup</a></li>
                    <li><a href="/profile">Profile</a></li>
                </ul>
            </div>
            <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
            <form action="#" class="search-box">
                <input type="text" placeholder="Type Something to Search..." required>
                <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
            </form>
        </nav>
    </div>

    <div class="body_content">{% block content %}{% endblock %}</div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>company</h4>
                    <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">privacy policy</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>get help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Quries</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Popular Courses</h4>
                    <ul>
                        <li><a href="#">Cryptography</a></li>
                        <li><a href="#">Neural Networks</a></li>
                        <li><a href="#">Pattern Recognition</a></li>
                        <li><a href="#">Database</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>

</html