{% extends 'base.html'%}

{% block title %}{{ title }}{% endblock%}

{% block content %}
<div class="browse_body">
    <h1 style="font-size: 50px; font-family:monospace;">
        Search Results
    </h1>
{% for course in courses %}
    <div class="browse_courses-container">
        <div class="browse_course">
            <div class="browse_course-preview">
                <h6>Course</h6>
                <h2>{{ course.course_title}}</h2>
            </div>
            <div class="browse_course-info">
                <h6>Instructor: {{ course.teacher }}</h6>
                <h2>Category: {{ course.category }}</h2>
                <button class="browse_btn" id="view-course-button{{ course.course_id }}">View Course</button>
                <script>
                    document.getElementById('view-course-button{{ course.course_id }}').onclick = function() {
                        location.href = "{{ url_for('views.course', course_id=course.course_id) }}"
                    }
                </script>
            </div>
        </div>
    </div>
{% endfor %}
</div>

{% endblock%}