{% extends 'base.html'%}

{% block title %}{{ study_material.content_title }}{% endblock%}

{% block content %}
<div class="content_container">
    <h1>{{ study_material.content_title }}</h1>
</div>

<center>
    
    <!-- <video controls loop preload="none" width="500px">
        <source src="{{ study_material.link }}" type="video/mp4">
        Video not available
    </video> -->
    <iframe src="{{ study_material.link }}" frameborder="10" width="80%" height="600px"></iframe>
</center>

{% for comment in comments %}

{{ commnet.username }}
{{ comment.text }}

{% endfor %}

{% endblock%}