{% extends 'base.html'%}

{% block title %}Course{% endblock%}

{% block content %}
<div class="feedback_body">
    <center>
        <h1>Feedback</h1>
    </center>
    <div class="feedback_container">
        <div class="feedback_post">
            <div class="feedback_text">Thanks for rating us!</div>
            <div class="feedback_edit">EDIT</div>
        </div>
        <div class="feedback_star-widget">
            <input type="radio" name="rate" id="rate-5">
            <label for="rate-5" class="fas fa-star"></label>
            <input type="radio" name="rate" id="rate-4">
            <label for="rate-4" class="fas fa-star"></label>
            <input type="radio" name="rate" id="rate-3">
            <label for="rate-3" class="fas fa-star"></label>
            <input type="radio" name="rate" id="rate-2">
            <label for="rate-2" class="fas fa-star"></label>
            <input type="radio" name="rate" id="rate-1">
            <label for="rate-1" class="fas fa-star"></label>
            <form action="#">
                <header></header>
                <div class="feedback_textarea">
                    <textarea cols="30" placeholder="Describe your experience.."></textarea>
                </div>
                <div class="feedback_btn">
                    <button type="submit">Post</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    const btn = document.querySelector("button");
    const post = document.querySelector(".feedback_post");
    const widget = document.querySelector(".feedback_star-widget");
    const editBtn = document.querySelector(".feedback_edit");
    btn.onclick = () => {
        widget.style.display = "none";
        post.style.display = "block";
        editBtn.onclick = () => {
            widget.style.display = "block";
            post.style.display = "none";
        }
        return false;
    }
</script>
{% endblock%}