{% extends 'base.html'%}

{% block title %}Course{% endblock%}

{% block content %}
<div class="feedback_body">
    <div class="feedback_container">
        <center>
            <h1>Feedback</h1>
        </center>
        <div class="feedback_post">
            <div class="feedback_text">Thanks for rating us!</div>
            <div class="feedback_edit">EDIT</div>
        </div>
        <div class="feedback_star-widget">
            <form action="#" method="POST">
                <input type="radio" name="rate" value="5"  id="rate-5">
                <label for="rate-5" class="fas fa-star"></label>
                <input type="radio" name="rate" value="4" id="rate-4">
                <label for="rate-4" class="fas fa-star"></label>
                <input type="radio" name="rate" value="3" id="rate-3">
                <label for="rate-3" class="fas fa-star"></label>
                <input type="radio" name="rate" value="2" id="rate-2">
                <label for="rate-2" class="fas fa-star"></label>
                <input type="radio" name="rate" value="1" id="rate-1">
                <label for="rate-1" class="fas fa-star"></label>
                <header></header>
                <div class="feedback_textarea">
                    <input type="text" name="review" placeholder="Describe your experience..">
                </div>
                <div class="feedback_btn">
                    <button type="submit">Post</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock%}