{% extends 'base.html'%}

{% block title %}Home{% endblock%}

{% block content %}
<section class="home" id="home">
    <section class="home" id="home">

        <div class="body_content">
            <h1>learn online from home</h1>
            <p>
                No need to go out to learn. <br>
                No more paying for Education. <br>
                Join us now and learn for free from the comfort of your home.
            </p>
            <button id="join_us">Join Us</button>
            <script>
                document.getElementById("join_us").onclick = function () {
                    location.href = "{{ url_for('auth.signup') }}"
                }
            </script>
        </div>
    </section>

    <section class="about" id="about">
        <h1 class="heading">About Us</h1>
        <h3 class="title">Join us on our jouney</h3>

        <div class="row">
            <div class="image">
                <img src="{{ url_for('static', filename='home_pic.jpg') }}">
            </div>
            <div class="body_content">
                <h3>Learn and Teach From Anywhere For Free</h3>
                <p>E-Learning is a platform where you can learn and teach from your home. 
                    We offer you the platform to join as a teacher and make your own courses. We give you the opportunity to learn for free. 
                    Thousands of courses made by qualified teachers at your door step. Don't waste a second and join us right now.
                </p>
                <button id="start_now">Start Now</button>
                <script>
                    document.getElementById("start_now").onclick = function() {
                        location.href = "{{ url_for('auth.signup') }}"
                    }
                </script>
            </div>
        </div>

    </section>


    <!-- about section ends -->

    <!-- teacher section starts  -->

    <!-- <section id="teacher" class="teacher">

        <h1 class="heading">Our Top Teachers</h1>
        <h3 class="title">meet professional trainers</h3>

        <div class="card-container">

            <div class="card">
                <img src="teacher_1.jpg" alt="">
                <h3>Ahmed Symum Swapno</h3>
                <p>i love Coding</p>
                <div class="icons">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-github"></a>
                </div>
            </div>

            <div class="card">
                <img src="teacher_2.jpg" alt="">
                <h3>Swapnil Ghosh</h3>
                <p>i love teaching</p>
                <div class="icons">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-github"></a>
                </div>
            </div>

            <div class="card">
                <img src="teacher_3.jpg" alt="">
                <h3>Mahmudul Hamim</h3>
                <p>i love teaching</p>
                <div class="icons">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-github"></a>
                </div>
            </div>

        </div>


    </section>

    <!-- teacher section ends -->

    <!-- course section starts  -->

    <!-- <section id="course" class="course">

        <h1 class="heading">our courses</h1>
        <h3 class="title">upgrade your skills with newest courses</h3>


        <div class="box-container">

            <div class="box">
                <i class="fab fa-html5"></i>
                <h3>html5</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, ex.</p>
            </div>

            <div class="box">
                <i class="fab fa-css3-alt"></i>
                <h3>css3</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, ex.</p>
            </div>

            <div class="box">
                <i class="fab fa-js-square"></i>
                <h3>javascript</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, ex.</p>
            </div>

            <div class="box">
                <i class="fas fa-code"></i>
                <h3>web development</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, ex.</p>
            </div>

            <div class="box">
                <i class="fas fa-bullhorn"></i>
                <h3>seo marketing</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, ex.</p>
            </div>

            <div class="box">
                <i class="fas fa-paint-brush"></i>
                <h3>graphic design</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, ex.</p>
            </div>

        </div>

    </section> -->

    <!-- course section ends -->
{% endblock%}