{% extends 'base.html'%}

{% block title %}{{ teacher.firstname }} {{ teacher.lastname }}{% endblock%}

{% block content %}
<div class="profile_container">
    <section class="left_side_card">
        <div class="css-after">
            <img src="{{ url_for('static', filename='teacher_dp.png') }}" />
        </div>
        <div class="information">
            <h1>{{ teacher.firstname}} {{ teacher.lastname }}</h1>
            <h3>Average Course Rating: {{ rating }}</h3>
            <h3>Created {{ course_count }} Courses</h3>
            <h3>Joined on {{ teacher.join_date }}</h3>
        </div>
    </section>
    <div class="right_side_card_container">
        <div class="profile_course_btn">
            <button class="open-button" onclick="openForm('createCourse')">Create Course</button>
        </div>
        <div class="form-popup" id="createCourse">
            <form class="" method="POST">
                <h1>Create Course</h1>
        
                <label for="title"></label>
                <input type="text" class="course_title" placeholder="Course Title" name="course_title" required><br>
        
                <label for="category"></label>
                <input list="categories" class="course_title" placeholder="Category" name="category" autocomplete="off" required><br>
                <datalist id="categories">
                    <option value="Web Development"></option>
                    <option value="Software Development"></option>
                    <option value="Machine Learning"></option>
                    <option value="Deep Learning"></option>
                </datalist>
        
                <label for="description"></label>
                <input type="text" class="course_title" placeholder="Description" name="description" required><br>
        
                <button type="submit" class="course_submit">Create</button>
                <button type="button" class="course_close" onclick="closeForm('createCourse')">Close</button>
            </form>
        </div>
        <div class="profile_heading">Created Courses</div>
        {% for course in courses %}
        <div class="browse_course" id="courseBox{{ loop.index }}">
            <div class="browse_course-preview">
                <h6>Course</h6>
                <h2>{{ course.course_title }}</h2>
            </div>
            <div class="browse_course-info">
                <h6>Instructor: {{ course.teacher }}</h6>
                <h2>Category:</h2>
                <h2>{{ course.category }}</h2>
                <button class="browse_btn" id="view-course-button{{ course.course_id }}">View Course</button>
                <script>
                    document.getElementById('view-course-button{{ course.course_id }}').onclick = function () {
                        location.href = "{{ url_for('views.course', course_id=course.course_id) }}"
                    }
                </script>
            </div>  
        </div>
        {% endfor %}
    </div>
</div>




{% endblock%}