{% extends 'base.html'%}

{% block title %} {% endblock%}

{% block content %}

Name: {{ teacher.firstname}} {{ teacher.lastname }}<br>
Average Course Rating: {{ avg_rating }}<br>
Created {{ course_count }} Courses<br>
Joined on {{ teacher.join_date }}<br>

Created Courses <br>
{% for course in courses %}
<a href="/course/{{ course.course_id }}">{{ course.course_title }}</a><br>
{% endfor %}

<button class="open-button" onclick="openForm('createCourse')">Create Course</button>
<div class="form-popup" id="createCourse">
    <form class="" method="POST">
        <h1>Create Course</h1>

        <label for="title"><b>Course Title</b></label>
        <input type="text" placeholder="Course Title" name="course_title" required><br>

        <label for="category"><b>Category</b></label>
        <input type="text" placeholder="Category" name="category" required><br>

        <label for="description"><b>Descriptioin</b></label>
        <input type="text" placeholder="Description" name="description" required><br>

        <button type="submit" class="course_submit">Add</button>
        <button type="button" class="course_close" onclick="closeForm('createCourse')">Close</button>
    </form>
</div>



{% endblock%}